{% extends 'base.html' %}

{% block body %}

<!--Main layout-->
<main>
    <div class="container">

        <div class="table-responsive text-nowrap">
            <h3>
                Order Summary
            </h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">##</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">Item Price</th>
                        <th scope="col">Item Quantity</th>
                        <th scope="col">Total </th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for order_item in object.order_items.all %}
                    <tr>

                        <th scope="row">{{ forloop.counter }} </th>
                        <td> {{ order_item.item.item_name }} </td>
                        <td> {{ order_item.item.item_price }} </td>
                        <td> <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}"><i class="fas fa-minus"> </i> </a>
                             {{ order_item.item_qty }} 
                             <a href="{% url 'core:add-to-cart' order_item.item.slug %}"><i class="fas fa-plus"></i></a>
                        </td>
                        <td> 
                            {% if order_item.item.discount_price %} 
                                ₹{{ order_item.get_total_discount_item_price }}
                                <small class="text-muted">(saving ₹{{ order_item.get_amount_saved }})</small>
                            {% else %}
                                ₹{{ order_item.get_total_item_price }}
                            {% endif %}
                            <a style="color: red;" href="{% url 'core:remove-from-cart' order_item.item.slug %}"><i class="far fa-trash-alt float-right"></i></a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">
                            Your Cart is empty
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <a class="btn btn-primary float-left" href="/"><b>Continue Shopping</b></a>
                        </td>
                    </tr>
                    {% endfor %}

                    {% if object.get_total %}
                    <tr>
                        <td colspan="4">

                        </td>
                        <td>
                            <b>Total </b>₹{{ object.get_total }}
                                <small class="text-muted"><b>(saving</b> ₹{{ object.get_total_save }})</small>
                        </td>
                    </tr>


                    <tr>
                        <td colspan="5">
                            <a class="btn btn-primary float-left" href="/"><b>Continue Shopping</b></a>
                            <a class="btn btn-warning float-right" href="/checkout/"><b>Proceed to CheckOut</b></a>
                        </td>
                    </tr>
                    {% endif %}
                    
                </tbody>
            </table>
        </div>


    </div>
</main>
<!--Main layout-->

{% endblock %}